# .gitignore for NUbot

# We don't want build files in the repo
/Build/*
*.xcodeproj
*.build
.*

# We don't oxygen files in the repp
/Documentation
/Doc
/html
/latex
Doxyfile
Doxyfile.bak

# Python Ignores:
#we don't want to include .pyc files
*.pyc

# Common Ignores
*.*~
*.o
*.orig
*.tmp

Autoconfig/*
*.old*
*debug.log
*error.log
*parameters.wp

# ignore Qt builds
NUView-build-*/*
/NUView/debug/*
/NUView/release/*
*.Debug
*.Release
/NUView/Makefile
/NUView/NUView.pro.user
/NUView/NU*.app
/NUView/moc_*
/NUView/autosave.lut
/NUView/qrc_icons.cpp
/NUView/qrc_textures.cpp
/NUView/diagona/*.*
/NUView/NUView
/NUView-build-desktop/*
/Extracted/*
/NUView/debug/*
/NUView/release/*
/NUView/Makefile
/NUView/NUView.pro.user

/Vision-build-desktop*/*
/Vision/Vision.pro.user
/BWalkMaker-build*/*
/BWalkMaker/BWalkMaker.pro.user

# Ignore our data file formats
*.lut
*.nif
*.nul
*.strm
