# .gitignore for NUbot

# We don't want build files in the repo
/Build/*
*.xcodeproj
*.build
.*

# We don't oxygen files in the repp
/Documentation
/Doc
/html
/latex
Doxyfile

# Python Ignores:
#we don't want to include .pyc files
*.pyc

# Common Ignores
*.*~
*.o
*.orig

Autoconfig/*
*.old*
*debug.log
*error.log
*parameters.wp

# ignore Qt builds
/NUView/debug/*
/NUView/release/*
*.Debug
*.Release
/NUView/Makefile
/NUView/NUView.pro.user
/NUView/NU*.app
/NUView/moc_*
/NUView/autosave.lut
/NUView/qrc_icons.cpp
/NUView/qrc_textures.cpp
/NUView/diagona/*.*
/NUView/NUView
/NUView-build-desktop/*
/Extracted/*
/NUView/debug/*
/NUView/release/*
/NUView/Makefile
/NUView/NUView.pro.user
/NUView-build-desktop-Desktop_Qt_4_7_4_for_GCC__Qt_SDK__Debug/Makefile

# Ignore our data file formats
*.lut
*.nif
*.nul
*.strm
